*
{
    margin: 0;
    padding: 0;
}

input{
    width: 200px !important;
}

select{
    width: 200px !important;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}